<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculo</title>
</head>
<body>
    <form action="/calculoTop" method="post">
        <select name="sexo" id="sexo">
            <option value="0">Feminino</option>
            <option value="1">Masculino</option>
        </select>
        <select name="objetivo" id="objetivo">
            <option value="1">Manter</option>
            <option value="2">Engordar</option>
            <option value="3">Emagrecer</option>
        </select>
        <select name="velocidade" id="velocidade">
            <option value="1750">Devagar</option>
            <option value="3500">Moderado</option>
            <option value="7000">Rápido</option>
        </select>
        <input type="number" name="peso" id="peso" placeholder="peso em kg">
        <input type="number" name="idade" id="idade" placeholder="idade">
        <input type="number" name="altura" id="altura" placeholder="altura em cm">
        <select name="atividade" id="atividade">
            <option value="1.2">Baixo</option>
            <option value="1.375">Leve</option>
            <option value="1.55">Moderado</option>
            <option value="1.725">Alto</option>
            <option value="1.9">Muito alto</option>
        </select>
            <input type="number" name="pesoAlcancar" id="pesoAlcancar" placeholder="peso a alcançar">
        <button>Enviar</button>
    </form>
</body>
</html>