<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <h1>OLÁ!</h1>
    <form action="/gerarTodos" method="post">
        <input type="number" name="qtasCalorias" id="qtasCalorias">
        <button>Enviar</button>
    </form>
</body>
</html>